body{
  font-family: sans-serif;
  color:white;

}

.outer{
  text-align: center;
  background-color: #000;
}

.page{

  max-width: 1400px;
  width: 100%;
  height: 1500px;
  display: inline-block;
  background-color: #000;

}

/* Navigation bar */

.topnav{
  background-color: #000000;
  height:100px;
  color: #fff;
  width: 100%;

}


/* Left part with hero image */

.hero_content img{
  width:100%;
}

.hero_text_headline{
  font-size: 42px;
  font-family: Bodoni Moda, serif;
  font-weight: 300;
  margin: 60px;

}


/* Link in left part */

.hero_content_link{
  font-size:14px;
  text-align: center;
  font-family: Noto Sans, sans-serif;

  /* Border code from chatGPT */
  display: inline-block; /* Damit der Link die Box-Eigenschaften wie Padding und Border erhält */
    padding: 10px 20px;     /* Platz innerhalb der Box */
    border: 1px solid gray; /* Dünne graue Linie um den Link */
    text-decoration: none;  /* Entfernt die Standard-Unterstreichung des Links */
    color: #fff;           /* Textfarbe */
}


/* Link hover design */
.hero_content_link:hover {
    border-color: darkgray; /* Ändert die Randfarbe beim Hover */
}


/* right part of website */

.side_bar img{
  float: right;
}

.sidebar_pics {
  width: 100%;
}

.headline_right {
  font-size: 18px;
  font-family: Bodoni Moda, serif;
  font-weight: 200;
  margin-top: 30px;
  text-align: left;

}

.headline_right_low {
  font-size: 22px;

}


/* lower part of website */

.category {  
  margin-top: 0px;
  font-size:16px;
  font-family: Noto Sans, sans-serif;
  text-align: left;
  text-decoration: none;
  color: white;          
}

.single_headline {
  font-size: 32px;
  font-family: Bodoni Moda, serif;
  font-weight: 300;
  margin-top: 30px;
  text-align: left;
  text-decoration: none; 
  color: white;      

}

.second_content_link {
  margin-top: 30px;
  font-size:16px;
  text-align: left;
  font-family: Noto Sans, sans-serif;
  text-decoration: none;  
  color: gray;       

}
