body{
	margin:0;
	padding:0;
   background-color: #999;
   font-size: 40px;
   font-family: sans-serif;

}

* {
    box-sizing: border-box;
    margin:0;
}



.outer{
  text-align: center;
}

.page{
	position:relative;
	margin-top:0px;
	background-color: #FFF;
   max-width:1200px;
   width:100%;
  height:100%;
  display: inline-block;
   text-align: left;
   height:98vh;
}

/* animation 1 */

.a_box{
   text-align: center;
   font-size:20px;
   color:#FFF;
   background-color: #777;
   padding:20px;
   width:200px;
   height:200px;
   border-radius:100px;

   box-sizing: border-box;
   margin:50px;
   display: inline-block;

   outline: 1px solid transparent;


   animation-delay: 2s;
   animation-fill-mode: forwards;
   animation-name: change;
   animation-duration: 5s;
   animation-timing-function: ease-out;




}


@keyframes change{
  
  0% {
    background-color: red;
    border-radius: 100px;
  }
  
  50% {
    background-color: yellow;
    border-radius: 0px;
    transform: translate(200px, 0px) scale(1.5,1.5);
    transform: rotate(20deg);
  
 
  }
  100% {
    background-color:white;
    border-radius: 100px;
    transform: rotate(-20deg);
    transform: translate(400px, 1000px) scale(0,0);
  }

}


/* animaitn 1 */


/* animation 2 */

.b_box{
   text-align: center;
   font-size:20px;
   color:#FFF;
   background-color: #777;
   padding:20px;
   width:200px;
   height:200px;
   border-radius:100px;

   box-sizing: border-box;
   margin:40px;
   display: inline-block;

   outline: 1px solid transparent;


   animation-delay: 2s;
   animation-fill-mode: forwards;
   animation-name: change2;
   animation-duration: 5s;
   animation-timing-function: ease-out;




}


@keyframes change2{
  
  0% {
    background-color: red;
    border-radius: 100px;
  }
  
  50% {
    background-color: orange;
    border-radius: 100px;
    transform: translate(50px, 0px) scale(.2,.2);

  
 
  }
  100% {
    background-color:green;
    font-size: 30px;
    border-radius: 100px;
    transform: translate(340px, 300px) scale(.6,.6);
    
  }

}


/* animation 2 */


/* animation 3 */

.c_box{
   text-align: center;
   font-size:20px;
   color:#FFF;
   background-color: #777;
   padding:20px;
   width:200px;
   height:200px;
   border-radius:100px;

   box-sizing: border-box;
   margin:40px;
   display: inline-block;

   outline: 1px solid transparent;

   animation-delay: 2s;
   animation-fill-mode: forwards;
   animation-name: change3;
   animation-duration: 4s;
   animation-timing-function: ease-out;


}


@keyframes change3{
  
  0% {
    background-color: red;
    border-radius: 100px;
  }
  
  50% {
    background-color: blue;
    border-radius: 100px;
    transform: translate(100px, 0px) scale(.6,.6);

  
 
  }
  100% {
    background-color:orangered;
    color: darkmagenta;
    font-size: 60px;
    border-radius: 100px;
    transform: translate(-200px,400px) scale(2.4,2.4);
    
  }

}


/* animation 3 */



/* animation 4 */

.d_box{
   text-align: center;
   font-size:20px;
   color:#FFF;
   background-color: #777;
   padding:20px;
   width:200px;
   height:200px;
   border-radius:100px;

   box-sizing: border-box;
   margin:40px;
   display: inline-block;

   outline: 1px solid transparent;

   animation-delay: 2s;
   animation-fill-mode: forwards;
   animation-name: change4;
   animation-duration: 5s;
   animation-timing-function: ease-out;


}


@keyframes change4{
  
  0% {
    background-color: red;

  }
  
  50% {
    background-color: green;
    border-radius: 100px;
    transform: translate(100px, 0px) scale(.3,.3);

  
 
  }
  100% {
    background-color:blue;
    border-radius: 100px;
    transform: translate(230px, -220px) scale(0,0);
    
  }

}


/* animation 4 */