body {
  
  font-family:Noto Sans, sans-serif;
  font-size: 28px;
  font-weight: 400;
  background-color: white;
  margin:0;
  padding:0;

}


.outer {
  text-align: center;

}

.page {
  margin-top:0;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  display:inline-block;
  position:relative;
  height:100%;
  text-align: left;
  opacity: 0.4;
}



.topofpage {
  
  position: sticky;
  position: -webkit-sticky;
  top:0;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  height: 80px;
  background-color: white;
  z-index: 100;

}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav {
    margin-left: 22px;
}

.right-nav {
    margin-right: 22px;
}

.logo {
  max-width: 300px;
  text-align: center;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
}

.logo_img {
  width:100%;
}

.search_icon {
  display: inline-block;
  margin-right: 30px;
}

.search_img {
  width:20px;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  margin-right:30px;

}

a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: black;

}


.tile {
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

}

.hero {

  background-image: url(img/dgp1.jpg);
  
}

.hero2 {

  background-image: url(img/dgp2.jpg);

}
.hero3 {

  background-image: url(img/dgp3.jpg);

}
